doctype
html
	head
		title= "Real Time Web Chat"
		script(src='/scripts/chat.js')
		script(src='/socket.io/socket.io.js')
	body
		h1 Home
		table
			tr
				td something
				td something
			tr
				td somethinglonggggg
				td something